<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-tittle">

					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/nuevo-cliente}"
						class="btn btn-outline-primary btn-xs">Agregar Cliente</a>
				</h4>
				<nav th:replace="paginator-nav :: paginator"></nav>
				<table class="table table-striped " th:if="${!clientes.isEmpty()}">
					<thead class="bg-dark text-white text-center">
						<tr>
							<td>Id</td>
							<td>Nombre</td>
							<td>Apellido</td>
							<td>Direccion</td>
							<td>Telefono</td>
							<td>Fecha Nacimiento</td>
							<td>Email</td>
							<td>Editar</td>
							<td sec:authorize="hasRole('ADMIN')">Eliminar</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${clientes}"
							th:style="${cliente.direccion == null} ? 'background-color: red'">
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/detalle-cliente/} + ${cliente.id}" th:text="${cliente.id}"></a></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.direccion}"></td>
							<td th:text="${cliente.telefono}"
								th:style="${cliente.telefono == null} ? 'background-color: red'"></td>
							<td th:text="${cliente.fechaNacimiento}"></td>
							<td th:text="${cliente.email}"></td>
							<td class="text-center"><a
								class="btn btn-outline-success btn-xs"
								th:href="@{/editar-cliente/} + ${cliente.id}">Editar</a></td>
							<td class="text-center" ><a
								class="btn btn-outline-danger btn-xs"
								th:href="@{/eliminar-cliente/} + ${cliente.id}"
								onclick="return confirm('Desea eliminar el Cliente?');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>