<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<img th:if="${empleado.foto != null}"
					class="img-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/uploads/' + ${empleado.foto}}" th:alt="${empleado.foto}" />

				<ul class="list-group">
					<li class="list-group-item active" th:text="${empleado.dpi}"></li>
					<li class="list-group-item" th:text="${empleado.nombre}"></li>
					<li class="list-group-item" th:text="${empleado.apellido}"></li>
					<li class="list-group-item" th:text="${empleado.telefono}"></li>
					<li class="list-group-item" th:text="${empleado.email}"></li>
				</ul>

			</div>
		</div>
			<a class="btn btn-success btn-xs float-right" th:href="@{'/detalle-empleado/' + ${empleado.id}(format=xlsx)}">EXCEL</a>
	</div>
	
	

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>