<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">


				<h4 class="card-tittle">

					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/nuevo-proveedor}"
						class="btn btn-outline-primary btn-xs">Agregar Proveedor</a>

	<a class="btn btn-danger btn-xs float-right" th:href="@{'/listar-proveedores' (format=pdf)}">PDF</a>
		<a class="btn btn-success btn-xs float-right" th:href="@{'/listar-proveedores' (format=xlsx)}">EXCEL</a> 

				</h4>
				<nav th:replace="paginator-nav :: paginator"></nav>
				<table class="table table-striped " th:if="${!proveedores.isEmpty()}">
					<thead class="bg-dark text-white text-center">
						<tr>
							<td>Id</td>
							<td>Nombre</td>
					
							<td>Direccion</td>
							<td>Telefono</td>
							<td>Email</td>
							<td>Editar</td>
							<td sec:authorize="hasRole('ADMIN')">Eliminar</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="proveedor: ${proveedores}"
							th:style="${proveedor.direccion == null} ? 'background-color: red'">
							<td><a class="btn btn-primary btn-xs"
							th:href="@{/detalle-proveedor/} + ${proveedor.id}" th:text="${proveedor.id}"></a></td>
							<td th:text="${proveedor.nombre}"></td>
							<td th:text="${proveedor.direccion}"></td>
							<td th:text="${proveedor.telefono}"
								th:style="${proveedor.telefono == null} ? 'background-color: red'"></td>
						
							<td th:text="${proveedor.email}"></td>
							<td class="text-center"><a
								class="btn btn-outline-success btn-xs"
								th:href="@{/editar-proveedor/} + ${proveedor.id}">Editar</a></td>
							<td class="text-center" ><a
								class="btn btn-outline-danger btn-xs"
								th:href="@{/eliminar-proveedor/} + ${proveedor.id}"
								onclick="return confirm('Desea eliminar el proveedor?');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
				
				
		
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>